@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind utilities;
@tailwind components;

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the vertical scrollbar */
  height: 3px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

body {
  font-family: "Montserrat", sans-serif;
}
